/*Hide Scrollbar*/
body::-webkit-scrollbar {
    display: none;
}


label {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.l {
    height: 100%;
}

.r {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F8F8F8;
    height: 100%;
}